{% for item in project_users %}
  {% if item.sudo is defined and item.sudo %}
    {% if item.state is undefined or item.state == "present"  %}
        {{- "\n" + item.user }} ALL=(ALL)
        {%- if item.sudo_nopasswd is defined and item.sudo_nopasswd -%}
            {{ " NOPASSWD:" }}
        {%- endif %}
        {{- " " -}}
        {%- if item.sudo_rules is defined -%}
            {%- if item.sudo_rules is not string -%}
            {{ item.sudo_rules|join(', ') }}
            {%- else -%}
            {{ item.sudo_rules }}
            {%- endif %}
        {%- else -%}
            ALL
        {%- endif -%}
    {%- endif -%}
  {%- endif -%}
{% endfor %}
